GROQ_API_KEY="your_groq_api_key_here"
GROQ_MODEL_NAME="openai/gpt-oss-120b"
HF_TOKEN="your_huggingface_token_here"

# Local Qdrant directory for persistent local vector DB
QDRANT_API_KEY="your_qdrant_api_key_here"
QDRANT_URL="your_qdrant_url_here"
COLLECTION_NAME="mental-health-bot"

MODEL_LOCAL_PATH="models/all-MiniLM-L6-v2"
HUGGINGFACE_HUB_MODEL="sentence-transformers/all-MiniLM-L6-v2"
VECTOR_SIZE=384

CLEANED_DATA_PATH="data/cleaned_mental_health_data.csv"
